h1
{
	color: #3C056E;
	font-family:Lucinda Sans, Times New Roman, sans-serif;
}
h2
{
	color: #3C056E;
	font-family:Lucinda Sans Unicode, serif;
}

p
{
	color : #653392;
	font: 1.5em
}

li
{
	color : #3C056E;
}
ol
{
	color:
}
body
{
	background-color: #7397C3;
}