h1, h2
{
	color: #394994;
}


p
{
	color : #454392;
}

li
{
	color : #352392;
}
body
{
	background-color : #7692C5;
}
nav
{
	line-height: 200%;
	display: block;
	background-color: black;
}




nav ul 
{
	list-style-image: url("Smol.png");
	color: #7692C5;
	
}
ul
{
	list-style-image: url("unnamed.png");
	
}
